In [1]:
2 < 10

True

Estas dos opciones hacen lo mismo

In [2]:
(2).__lt__(10)

True

Los objetos no tienen el mismo estado interno:

In [3]:
10 == 1

False

Comprobamos lo mismo de dos formas distintas

In [4]:
"abc" == "abc"

True

In [5]:
"abc".__eq__("abc")

True

In [7]:
a = 10
b = 20
if a < b:
    print("a < b")
else:
    print("a >= b")

a < b

In [8]:
if True:
    print("Este bloque siempre se ejecuta")

Este bloque siempre se ejecuta

Las variables saben como se tienen que imprimir

LISTAS

In [11]:
my_list = list[1,2,3]
print(my_list)

if my_list:
    print("my_list es truthy")

list[1, 2, 3]
my_list es truthy

In [13]:
my_list = []
print(my_list)

if my_list:
    print("my_list es truthy")
else: 
    print("my_list NO es truthy")

[]
my_list NO es truthy

In [14]:
my_list = [10, 20, 30, 40]
my_list

[10, 20, 30, 40]

In [15]:
my_list.pop()

40

In [16]:
my_list

[10, 20, 30]

TUPLAS

In [18]:
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [19]:
my_tuple = 1, 2, 3
my_tuple

(1, 2, 3)

In [20]:
type(my_tuple)

tuple

In [21]:
type(True)

bool

In [22]:
my_empty_tuple = ()
my_empty_tuple

()

In [23]:
if not my_empty_tuple:
    print("Esto es vacío")

Esto es vacío

STRINGS

Podemos utilizar comillas simples o dobles

In [24]:
saludo = "Hola mundo!"
saludo

'Hola mundo!'

In [25]:
saludo = 'Hola mundo!'
saludo

'Hola mundo!'

Vamos a sustituir a por A

In [27]:
"aba".replace("a", "A")

'AbA'

In [ ]:
"aba".replace("a", "A", 1)

'Aba'

In [29]:
my_str = "aba"
print(hex(id(my_str)))

0x261add74390

In [32]:
my_str = "aba"
print(hex(id(my_str)))
my_str = my_str.replace("a", "b")
print(hex(id(my_str)))

0x261add74390
0x261adda0630

Dos formas de escribir con saltos de línea

In [33]:
my_str = "Line1\nLine2\nLine3\n"
print(my_str)

Line1
Line2
Line3

In [35]:
multiline = """
Line1
Line2
Line3
"""
print(multiline)

Line1
Line2
Line3

In [36]:
a = 10
"esto es importante"
if True:
    print("Todo OK")

Todo OK

FSTRINGS Y RSTRINGS

In [37]:
my_str = r"Line1\nLine2\nLine3"
print(my_str)

Line1\nLine2\nLine3

In [38]:
a = 10
b = 2
print(f"Resultado: {a}")

Resultado: 10

Jupyter Notebook guarda los valores anteriores

In [39]:
print(f"Resultado: {a*b}")

Resultado: 20

In [41]:
my_float = 0.12345
my_fstring = f"Mi flotante es {my_float}"
print(my_fstring)

Mi flotante es 0.12345

Solo dos decimales y redondeado

In [42]:
my_float = 0.12345
my_fstring = f"Mi flotante es {my_float:.2f}"
print(my_fstring)

Mi flotante es 0.12

In [43]:
my_float = 0.128
my_fstring = f"Mi flotante es {my_float:.2f}"
print(my_fstring)

Mi flotante es 0.13

SECUENCIAS

In [44]:
my_list = [10, 20 ,30]
my_list

[10, 20, 30]

In [45]:
len(my_list)

3

In [46]:
my_list.__len__()

3

In [47]:
len("Hola mundo")

10

Acceder a elementos de las secuencias

In [48]:
my_seq = 3.14, "pi", (1, "Madrid")
my_seq

(3.14, 'pi', (1, 'Madrid'))

In [49]:
my_seq[0]

3.14

In [50]:
my_seq[2]

(1, 'Madrid')

In [51]:
my_seq[len(my_seq) - 1]

(1, 'Madrid')

In [52]:
my_seq[-1]

(1, 'Madrid')

In [54]:
print(my_seq)
my_seq[-2]

(3.14, 'pi', (1, 'Madrid'))

'pi'

In [55]:
print(my_seq)
my_seq[-3]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [56]:
print(my_seq)
my_seq[-len(my_seq)]

(3.14, 'pi', (1, 'Madrid'))

3.14

In [57]:
palabra = "workbook"
palabra[0]

'w'

In [58]:
palabra.__getitem__(0)

'w'

LISTAS ANIDADAS

In [59]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix

[[1, 2, 3], [4, 5, 6]]

Accedemos a la segunda lista

In [60]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1]

[4, 5, 6]

Accedemos a la segunda lista al último valor

In [61]:
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
matrix[1][2]

6